body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/resource/bg-image.jpg");
  background-size: contain;
  color: white;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #333;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

nav a:hover {
  background-color: #444;
}

main {
  padding: 20px 0;
}

section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

.project {
  border: 4px solid white;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: yellow;
  color: brown;
}

.project h3 {
  margin-top: 0;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  background-color: purple;
  padding: 5px 10px;
  border-radius: 4px;
}

.project-links a:hover {
  background-color: #ddd;
  color: #333;
}

footer {
  text-align: center;
  color: #777;
  padding: 10px;
}
